.acc-content > img{
	width:700px;
}

.acc-container{
	padding-bottom: 50px;
}

.acc-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 450px;
	padding: 100px 30px ;
}

.acc-title{
	font-family: firstreign;
	font-size: 20pt;
	padding-bottom: 5px;
}

.acc-text{
	font-family: ringbearer;
	padding: 20px;
}

.acc-subtitle{
	margin-top: -10px;
	margin-bottom: 5px;
	font-family: ringbearer;
}