.cel-content > img{
	height:100%;
}

.cel-container{
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cel-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 450px;
	padding: 100px 30px ;
}

.cel-title{
	font-family: firstreign;
	font-size: 20pt;
	padding-bottom: 5px;
}

.cel-text{
	font-family: ringbearer;
	padding: 20px;
}

.cel-subtitle{
	margin-top: -10px;
	margin-bottom: 5px;
	font-family: ringbearer;
}